<cds-table-container cdsTheme="white">
  <cds-table-toolbar *ngIf="toolHeader">
    <cds-table-toolbar-content>
      <!-- search -->
      <cds-table-toolbar-search *ngIf="searchField"
                                [expandable]="true"
                                [(ngModel)]="search"
                                (valueChange)="updateFilter($event)"
                                (clear)="onClearSearch()">
      </cds-table-toolbar-search>
      <!-- end search -->
      <!-- refresh button -->
      <button cdsButton="ghost"
              [disabled]="!fetchData?.observers?.length"
              (click)="refreshBtn()"
              title="Refresh"
              [description]="status.msg"
              i18n-title
              i18n-description
              class="toolbar-action"
              placement="bottom">
        <svg cdsIcon="renew"
             size="20"
             [ngClass]="{ 'cds--toolbar-action__icon': true, 'reload': updating || loadingIndicator }"></svg>
      </button>
      <!-- end refresh button -->
      <!-- show hide columns -->
      <button cdsButton="ghost"
              class="toolbar-action"
              [cdsOverflowMenu]="showHideColumnsRef"
              placement="bottom"
              [flip]="true"
              [offset]="{ x: 3, y: 0 }">
        <svg cdsIcon="data-table"
             size="20"
             class="cds--toolbar-action__icon"></svg>
      </button>
      <ng-template #showHideColumnsRef>
        <div class="vstack gap-3 p-3"
             cdsTheme="white"
             (click)="$event.stopPropagation()">
          <cds-checkbox *ngFor="let column of model.header"
                        id="{{ column.data }}"
                        [name]="column.data"
                        [checked]="column.visible"
                        (checkedChange)="toggleColumn(column);">{{ column.data }}
          </cds-checkbox>
        </div>
      </ng-template>
      <!-- end show hide columns -->
      <!-- actions -->
      <ng-content select=".table-actions"></ng-content>
      <!-- end actions -->
    </cds-table-toolbar-content>
  </cds-table-toolbar>
  <cds-table [model]="model"
             [sortable]="!!userConfig.sorts"
             size="md"
             class="overflow-hidden"
             [skeleton]="false"
             [showSelectionColumn]="selectionType === 'multiClick'"
             [enableSingleSelect]="selectionType === 'single'"
             [stickyHeader]="false"
             [striped]="false"
             [isDataGrid]="false"
             (selectRow)="onSelect($event)">
</cds-table>
</cds-table-container>

<ng-template #rowDetailTpl
             let-row="data.row">
  <ng-container [ngTemplateOutlet]="template"></ng-container>
</ng-template>

<ng-template #defaultValueTpl
             let-value="data.value"
             let-expanded="expanded"
             let-column="data.column">
  <span ngClass="column?.cellClass">{{ value }}</span>
</ng-template>


<!-- cell templates that can be accessed from outside -->
<ng-template #tableCellBoldTpl
             let-value="data.value">
  <strong>{{ value }}</strong>
</ng-template>

<ng-template #sparklineTpl
             let-row="data.row"
             let-value="data.value">
  <div class="position-relative">
    <cd-sparkline [data]="value"
                  [isBinary]="row.cdIsBinary"></cd-sparkline>
  </div>
</ng-template>

<ng-template #routerLinkTpl
             let-row="data.row"
             let-value="data.value">
  <a [routerLink]="[row.cdLink]"
     [queryParams]="row.cdParams">{{ value }}</a>
</ng-template>

<ng-template #checkIconTpl
             let-value="data.value">
  <i [ngClass]="[icons.check]"
     [hidden]="!(value | boolean)"></i>
</ng-template>

<ng-template #perSecondTpl
             let-row="data.row"
             let-value="data.value">
  {{ value | dimless }} /s
</ng-template>

<ng-template #executingTpl
             let-column="data.column"
             let-row="data.row"
             let-value="data.value">
  <i [ngClass]="[icons.spinner, icons.spin]"
     *ngIf="row.cdExecuting"></i>
  <span [ngClass]="column?.customTemplateConfig?.valueClass">
    {{ value }}
  </span>
  <span *ngIf="row.cdExecuting"
        [ngClass]="column?.customTemplateConfig?.executingClass ? column?.customTemplateConfig.executingClass : 'text-muted italic'">({{ row.cdExecuting }})</span>
</ng-template>

<ng-template #classAddingTpl
             let-value="data.value">
  <span class="{{ value | pipeFunction:useCustomClass:this }}">{{ value }}</span>
</ng-template>

<ng-template #badgeTpl
             let-column="data.column"
             let-value="data.value">
  <span *ngFor="let item of (value | array); last as last">
    <span class="badge"
          [ngClass]="(column?.customTemplateConfig?.map && column?.customTemplateConfig?.map[item]?.class) ? column.customTemplateConfig.map[item].class : (column?.customTemplateConfig?.class ? column.customTemplateConfig.class : 'badge-primary')"
          *ngIf="(column?.customTemplateConfig?.map && column?.customTemplateConfig?.map[item]?.value) ? column.customTemplateConfig.map[item].value : column?.customTemplateConfig?.prefix ? column.customTemplateConfig.prefix + item : item">
      {{ (column?.customTemplateConfig?.map && column?.customTemplateConfig?.map[item]?.value) ? column.customTemplateConfig.map[item].value : column?.customTemplateConfig?.prefix ? column.customTemplateConfig.prefix + item : item }}
    </span>
    <span *ngIf="!last">&nbsp;</span>
  </span>
</ng-template>

<ng-template #mapTpl
             let-column="data.column"
             let-value="data.value">
  <span>{{ value | map:column?.customTemplateConfig }}</span>
</ng-template>

<ng-template #truncateTpl
             let-column="data.column"
             let-value="data.value">
  <span data-toggle="tooltip"
        [title]="value">{{ value | truncate:column?.customTemplateConfig?.length:column?.customTemplateConfig?.omission }}</span>
</ng-template>

<ng-template #rowDetailsTpl
             let-row="data.row"
             let-isExpanded="data.expanded"
             ngx-datatable-cell-template>
  <a href="javascript:void(0)"
     [class.expand-collapse-icon-right]="!isExpanded"
     [class.expand-collapse-icon-down]="isExpanded"
     class="expand-collapse-icon tc_expand-collapse"
     title="Expand/Collapse Row"
     i18n-title
     (click)="toggleExpandRow(row, isExpanded, $event)">
  </a>
</ng-template>

<ng-template #timeAgoTpl
             let-value="data.value">
  <span data-toggle="tooltip"
        [title]="value | cdDate">{{ value | relativeDate }}</span>
</ng-template>

<ng-template #pathTpl
             let-value="data.value">
  <span data-toggle="tooltip"
        [title]="value"
        class="font-monospace">{{ value | path }}
    <cd-copy-2-clipboard-button *ngIf="value"
                                [source]="value"
                                [byId]="false"
                                [showIconOnly]="true">
    </cd-copy-2-clipboard-button>
  </span>
</ng-template>
