<cds-overflow-menu [customTrigger]="customTrigger"
                   [offset]="{y:0, x:-80}">
  <li disabled="true" class="show cds--overflow-menu-options__option cds--overflow-menu-options__option--disabled"
                            i18n>
    <div class="cds--overflow-menu-options__btn">Signed in as <strong>{{ username }}</strong>
    </div>
  </li>
  <cds-overflow-menu-option *ngIf="!sso"
                            routerLink="/user-profile/edit"
                            [divider]="true"
                            i18n>Change password</cds-overflow-menu-option>
  <cds-overflow-menu-option (click)="logout()"
                            data-testid="logout"
                            i18n>Sign out</cds-overflow-menu-option>
</cds-overflow-menu>
<ng-template #customTrigger>
  <svg cdsIcon="user--filled"
       size="20"
       title="user"></svg>
  <span i18n
        class="d-md-none">Logged in user</span>
</ng-template>
