<ng-container *ngIf="currentAction">
  <button type="button"
          [cdsButton]="currentAction.buttonKind"
          title="{{ useDisableDesc(currentAction) }}"
          (click)="useClickAction(currentAction)"
          [disabled]="disableSelectionAction(currentAction)"
          [routerLink]="useRouterLink(currentAction)"
          [attr.aria-label]="currentAction.name"
          [preserveFragment]="currentAction.preserveFragment ? '' : null">
    <span i18n>{{ currentAction.name }}</span>
    <svg class="cds--btn__icon"
         cdsIcon="add"
         size="16"></svg>
  </button>
</ng-container>
